@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    height:100vh;
    background: linear-gradient(rgba(30, 27, 38, 0.95), rgba(30, 27, 38, 0.95)), url("https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    
}
#app{
    height: 100%;
}

main{
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container {
  width: 100%;
  height: 100%;
}
/* navbar */
.navbar {
    background-color: #2f4f60;
    height: 10%
}
.dropdown-menu.dropdown-menu-end.show {
  background-color: #537588;
  color:#efefef;
}

/* Search Form */
#searchForm{
    height: 100%;
}

.search {
    background-color: transparent;
    border: 2px solid #efefef;
    border-radius: 10px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.2rem 1rem;
}

.search::placeholder {
    color: #efefef;
    font-family: 'MuseoModerno', cursive;
    font-size: 1rem;
}

.search:focus {
    background-color: #eaeaeb;
    outline: none;
}

/* login regester password pages */
.card{
    background-color:#efefef;
}


/* -------------------------- */

.main-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-img {
  width: 100%;
  height: 250px;
  background-image: url(https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 111 !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}

.movie {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+39,1e1b26+53&0+38,1+55 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.06) 39%, rgba(30, 27, 38, 0.88) 53%, #1e1b26 55%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.06) 39%, rgba(30, 27, 38, 0.88) 53%, #1e1b26 55%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 38%, rgba(255, 255, 255, 0.06) 39%, rgba(30, 27, 38, 0.88) 53%, #1e1b26 55%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1e1b26',GradientType=0 );
  /* IE6-9 */
  position: absolute;
  background-size: contain;
  background-size: cover;
  z-index: 1 !important;
  width: 375px;
  height: 100%;
  display: block;
  border-radius: 4px;
}

.text-movie-cont {
  padding: 0px 10px;
  text-align: justify;
}


.action-btn {
  cursor: pointer;
  display: block;
  border: 1px solid #fe4141;
  border-radius: 5px;
  padding: 4px;
  width: 133px;
}

.action-btn:hover {
  border: 1px solid #efefef;
}

.action-row {
  margin-top: 10px;
}

.summary-row {
  margin-top: 12px;
}

/* TYPOGRAPHY STARTS */
/* Fonts */
h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  color: #e7e7e7;
  margin: 0px;
}

h1 {
  font-size: 36px;
  font-weight: 400;
}

h3 {
  font-size: 13px;
  font-weight: 400;
  color: #fe4141;
}

h5 {
  font-size: 12px;
  font-weight: 400;
}



.movie-description {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #9b9b9b;
  text-align: justify;
  line-height: 1.3;
}


/* TYPOGRAPHY ENDS */
/** GRID STARTS **/
.thegrid {
  margin: 0 auto;
}

.movie-description {
  margin: 0px;
}

.mr-grid {
  width: 100%;
}

.mr-grid:before, .mr-grid:after {
  content: "";
  display: table;
}

.mr-grid:after {
  clear: both;
}

.mr-grid {
  *zoom: 1;
}

.col1, .col2 {
  margin: 0% 1% 0.5% 1%;
  padding: 1%;
  float: left;
  display: block;
}

/* Columns match, minus margin sum. E.G. margin-left+margin-right=1%, col2=50%-1% - added padding:1%*/
.col1 {
  width: 98%;
}

.col2 {
  width: 47%;
}







/* ----------------------- */

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.movie img {
    width: 100%;
    height: 80%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center; 
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    text-align: center;
    justify-content: center;
}

.movie-info h3 {
    margin: 0;
}

.movie-info h4 {
    margin: 0;
    color: red;
}






